---
title: "About this website"
header: "?????? About... ??????"
layout: "base.njk"
---
<div id="flex">
  <div class="left-box aboutMe">
    <div class="window main-left">
      <div class="title-bar">
        <div class="title-bar-text">Görkem.txt</div>
        <div class="title-bar-controls">
          <!-- <button aria-label="Help"></button> -->
          <button disabled aria-label="Close"></button>
        </div>
      </div>
      <div class="window-body">
        <main> 
          <h3>Me</h3>
          <p>lorem ipsum dor salamet managen</p>
        </main>
      </div>
    </div>

  </div>

    <div class="left-box aboutPage">
    <div class="window main-left">
      <div class="title-bar">
        <div class="title-bar-text">www.gorkem.cc</div>
        <div class="title-bar-controls">
          <!-- <button aria-label="Help"></button> -->
          <button disabled aria-label="Close"></button>
        </div>
      </div>
      <div class="window-body">
        <main> 
          <h3>This website</h3>
        </main>
      </div>
    </div>

  </div>
</div>