---
title: "About this website"
header: "About this website"
layout: "base.njk"
---
<div id="flex">
  <div class="aboutMe">
    <div class="window main-left">
      <div class="title-bar">
        <div class="title-bar-text">Projects</div>
        <div class="title-bar-controls">
          <!-- <button aria-label="Help"></button> -->
          <button disabled aria-label="Close"></button>
        </div>
      </div>
      <div class="window-body">
        <main> 
          <h3>About Me</h3>
          <p>lorem ipsum dor salamet managen</p>
        </main>
      </div>
    </div>

  </div>

    <div class="aboutPage">
    <div class="window main-left">
      <div class="title-bar">
        <div class="title-bar-text">Projects</div>
        <div class="title-bar-controls">
          <!-- <button aria-label="Help"></button> -->
          <button disabled aria-label="Close"></button>
        </div>
      </div>
      <div class="window-body">
        <main> 
          <h3>The Page</h3>
        </main>
      </div>
    </div>

  </div>
</div>