---
title: "About this website"
header: "?????? About... ??????"
layout: "base.njk"
---
<div id="flex">
  <div class="left-box aboutMe">
    <div class="window main-left">
      <div class="title-bar inactive">
        <div class="title-bar-text">Webmaster.contact</div>
        <div class="title-bar-controls">
          <!-- <button aria-label="Help"></button> -->
          <button disabled aria-label="Close"></button>
        </div>
      </div>
      <div class="window-body aboutMeContainer">
        
          {# <h3>Me</h3> #}
          <div class="aboutImagesContainer">
            
<img src="/images/me.jpg"></img>
<div class="socialButtons">
<small class="findMe">find me on:</small>
<a href="https://instagram.com/gorkyver"><img src="/images/insta.png"></img></a>
<a href="https://twitter.com/gocivici"><img src="/images/twitter.png"></img></a>
<a href="https://github.com/gocivici"><img src="/images/github.png"></img></a>
<a href="https://open.spotify.com/user/11120064490?si=4bp_qQCJRV6NthSEan98Ng"><img src="/images/spoti.png"></img></a>
<br>
{# <small>or email me at:</small> #}
<small>gocivici[at]gmail.com</small>
</div>

</div>


{# <main> 



        
        </main> #}
      </div>
    </div>

  </div>

    <div class="left-box aboutPage">
    <div class="window main-left">
      <div class="title-bar grey">
        <div class="title-bar-text">???????????????.txt</div>
        <div class="title-bar-controls">
          <!-- <button aria-label="Help"></button> -->
          <button disabled aria-label="Close"></button>
        </div>
      </div>
      <div class="window-body aboutPageContainer">
        <main> 
<h3>About me</h3>
                     <ul>
            <li>My name is Görkem: pronounced (<a class="IPA" href="https://ipa-reader.com/?text=%CB%88g%C3%B8%C9%BE%CB%88cem&voice=Filiz">/ˈgøɾˈkem/</a>)</li>
            <li>I build stuff with electronics at the intersection of art and technology.</li>
            <li>I'm an advocate for Open Source Software/Hardware, and I publish my works under open licenses.</li>
            {# <li>I'm currently pursuing my Master's at <a target="_blank" href="https://www.homewarelab.com/about">Homeware Lab</a> I have a background in physics and interaction design, you can view my academic portfolio <a href="/portfolio/about">here.</a></li> #}
          </ul> 
          
</main>
<main>
<h3>About the website</h3>
          <p> <img src="/images/construction.gif" width="100%"></img></p>
        
        </main>
      </div>
    </div>

  </div>
</div>
<script src="/custom.js"></script>
<script src="/bgswitch.js?v=1.1"></script>
<script>

sendPresence();  
function sendPresence() {
  fetch('https://presence.gorkyver.com/heartbeat', {
    method: 'POST',
    headers: {'Content-Type': 'application/json'},
    body: JSON.stringify({ page: "about" })
  });
}
             
setInterval(sendPresence, 15000); 

</script>