---
title: "Guestbook"
header: "Sign My Guestbook"
layout: "base.njk"
---
<link rel="stylesheet" href="{{'/css/cactustyle.css' | url | safe}}">


<div id="flex">
  {# <div class="guestBook">
    <div class="window main-left">
      <div class="title-bar">
        <div class="title-bar-text">Guestbook.txt</div>
        <div class="title-bar-controls">
          <!-- <button aria-label="Help"></button> -->
          <button disabled aria-label="Close"></button>
        </div>
      </div>
      <div class="window-body">
        <main>
          <p>Thank you for visiting my webspace! I hope you are enjoying your stay here, please feel welcome to leave any message below and provide a link to your website if you have one.</p>
          <img src="/images/point_down.gif"></img>
        </main>
      



      </div>

    </div>
  </div> #}
  {# <img src="/images/GuestbookSpell.gif" style="margin:auto;"></img> #}
</div>

  <div class="guestBookMessageContainer">
              <div class="title-bar">
        <div class="title-bar-text">New message</div>
        <div class="title-bar-controls">
          <!-- <button aria-label="Help"></button> -->
          <button aria-label="Help"></button>
        </div>
      </div>
    <div id="comment-section">
      


    </div>
  </div>

</div>

        







<script type="text/javascript" src="{{'/css/cactus.js' | url | safe}}"></script>
<script src="/custom.js"></script>
<script src="/bgswitch.js"></script>
<script>
initComments({
  node: document.getElementById("comment-section"),
  defaultHomeserverUrl: "https://matrix.cactus.chat:8448",
  serverName: "cactus.chat",
  siteName: "<gorkem.cc>",
  commentSectionId: "guestbook",
  loginEnabled: "false",
  guestPostingEnabled: "true"
})
</script>