---
title: "Trick or Treat"
header: "Trick or Treat?"
layout: "base.njk"
---
<link rel="stylesheet" href="/css/prism-atom-dark.css"/>
<style>
.HalloContainer{
  width:100%;
}
</style>
            <div class="tooltip" role="tooltip">
                <emoji-picker></emoji-picker>
              </div>
<div id="flex">
  <div class="HalloContainer">
    <div class="window main-left">
      <div class="title-bar">
        <div class="title-bar-text">Halloween2024.exe</div>
        <div class="title-bar-controls">
          <!-- <button aria-label="Help"></button> -->
          <button disabled aria-label="Close"></button>
        </div>
      </div>
      <div class="window-body">

        <main>
          

          testing something



        </main>

      </div>

    </div>

  </div>

    </div>




<script src="index.js"></script>