---
title: "Görkem's Webspace"
header: "Görkem's Webspace"
summary: "I'm Görkem and this is my corner on the internet where I share my thoughts, experiments, projects, and whatever else I feel like putting here!"
layout: "base.njk"
thumbnailImg: "/images/linkpreview.png"
type: "Home"
---

<!-- <aside id="leftSidebar" style="margin-right: 10px;"> -->
<!-- <div class="title">Navigation</div> -->
<!-- <h2>Updates</h2> -->
<!-- <h2>🏠Home</h2>
                    <h2>❓About</h2>
                    <h2>🛠️DIY</h2>
                    <h2>📓Notes</h2> -->
<!-- <div class="box">

                    </div> -->

<!-- </aside> -->
<link rel="stylesheet" href="https://teethinvitro.neocities.org/webring/linuxring/script/onionring.css">
<div class="homeContainer" id="flex">
    <div class="left-box">
        <div class="window main-left">
            <div class="title-bar grey">
                <div class="title-bar-text">Welcome.txt</div>
                <div class="title-bar-controls">
                    <div class="info-bubble">Nothing special, just a welcome message..</div>
                    <button id="Recent" aria-label="Help" onClick="toggleBubble(this)"></button>
                </div>
            </div>
            
            <div class="window-body">
                <div class="welcomeBox">
                    {# <iframe height="155" style="width:100%; border:none; background:transparent;" src="https://wttr.in/ankara?Q?1?F" name="wttr.in"></iframe> #}
                    <main>

                        <h3>Welcome!</h3>
                        <p>I'm Görkem and this is my corner on the internet where I share my thoughts, <a href="./blog">experiments</a>, <a href="./projects">projects</a>, and whatever else I feel like putting here!</p>
                        <p>There isn't much here yet but i'm always working on my projects, check back later and hopefully things will grow with time. Have fun looking around!</p>

                        {# <p>Integer condimentum tempor leo ut tincidunt. Praesent viverra ante ornare, hendrerit dui quis, scelerisque urna. Suspendisse ut dui vehicula, faucibus dui et, sodales lorem. In neque sem, feugiat sed elit id, fermentum viverra nibh. Quisque mauris felis, consequat vitae tincidunt sed, imperdiet at nulla. Maecenas gravida, nibh quis vestibulum iaculis, nisi ex mollis elit, a vehicula purus nulla eu leo. Nulla nec mollis erat.</p> #}

                    </main>
                    <figure>
                        <img src="./images/GuestbookSpell.gif"></img>
                        <figcaption>
                            <a href="./guestbook">Sign the Guestbook!</a>
                        </figcaption>
                    </figure>
                </div>

            </div>
        </div>

        <div class="window main-left bottomWindowUpdates" style="margin-right:5px;">
            <div class="title-bar grey">
                <div class="title-bar-text">Website Updates.exe</div>
                <div class="title-bar-controls">
                    <div class="info-bubble">I write update logs manually whenever I make changes on the website.</div>
                    <button id="Recent" aria-label="Help" onClick="toggleBubble(this)"></button>
                </div>
            </div>
            <div class="window-body">
                <div class=" updatesBox">
                    <main style="margin-top: 0px;">
                        <p>
                            <strong>December 29th, 2024</strong>
                        </p>
                            <ul>
                                <li>Launched a Terminal version of my website! <a href="/terminal">Visit Terminal</a></li>
                                <li>Still in the process of migrating projects from Instructables. I completed <a href="/projects/PeriodicTableClock/">Periodic Table Clock</a>, <a href="/projects/QuantumDeathMachine/">Quantum Death Machine</a>, and <a href="/projects/HauntedTv/">Haunted TV</a>, and I am currently working on the remaining projects! </li>
                                
                                
                            </ul>
                        
                        <hr>
                        <p>
                            <strong>November 17th, 2024</strong>
                        </p>
                            <ul>
                                <li>New blog post! <a href="/blog/17-11-2024/">Self-hosting Zotero Storage</a></li>
                                <li>Added small winter decorations</li>
                                <li>New visitor counter</li>
                                
                                
                            </ul>
                        
                        <hr>
                        <p>
                            <strong>September 22th, 2024</strong>
                        </p>
                            <ul>
                                
                                <li>Created new theme for Halloween!</li>
                                <li>Developed a tool to invert astronomy drawings: <a href="/tools/astrosketch">Astrosketch Invert</a></li>
                                
                            </ul>
                        
                        <hr>
                        <p>
                            <strong>March 13th, 2024</strong>
                        </p>
                            <ul>
                                
                                <li>Created new layout for the <a href="/guestbook">guestbook</a></li>
                                <li>Finally managed to create an <a href="/about">about page</a>, it's still under construction though..</li>
                            </ul>
                        
                        <hr>
                        <p>
                            <strong>February 24th, 2024</strong>
                        </p>
                            <ul>
                                
                                <li>I updated the homepage layout, it should be more mobile friendly now.</li>
                                <li><a href="https://www.cafe.gorkem.cc/">CyberCafé</a> is now open!</li>
                            </ul>
                        
                        <hr>
                        <p>
                            <strong>February 19th, 2024</strong>
                        </p>
                            <ul>
                                <li>Finally published the website online! I also wrote a <a href="./blog/19-02-2024/"> short blog post</a> detailing the process.</li>
                            </ul>
                        
                        <hr>
                        <p>
                            <strong>February 10th, 2024</strong>
                        </p>
                            <ul>
                                <li>External links now have a small icon to indicate they are external links.</li>
                                <li>I updated the <a href="./projects">Projects</a> page, created a gallery layout. I plan to add a filter option for the tags in the future.</li>
                            </ul>
                        
                        <hr>
                        <p>
                            <strong>February 3rd, 2024</strong>
                            <ul>
                                <li>Changed the overall layout and started using <a href="11ty.dev" target="_blank">11ty</a>. My workflow to upload projects and blog posts should be much easier now.</li>
                            </ul>
                        </p>
                        <hr>
                        <p>
                            <strong>January 27th, 2024</strong>
                            <ul>
                                <li>I added a recent activities box that uses RSS to fetch data from various apps that I use. </li>
                            </ul>
                        </p>
           

                    </main>
                </div>
            </div>
            
        </div>
        

        <div class="window main-left bottomWindowStatus">
            {# <div id="app"></div> #}
            <div class="title-bar grey">
                
                <div class="title-bar-text">Recent Activity.exe </div>
                <div class="title-bar-controls">
                    <div class="info-bubble">This window uses a free RSS feed scraper called politepol with javascript to update feeds. </div>
                    <button id="Recent" aria-label="Help" onClick="toggleBubble(this)"></button>
                </div>
            </div>
            
            <div class="window-body activityBox">
                {# <div class="statusContainer"> #}
                {# <div class="statusBox">
                    <legend><strong>💭 Status</strong> <a href="">via status.cafe</a></legend>
                <div id="statuscafe">  <div id="statuscafe-username"></div><div id="statuscafe-content"></div></div><script src="https://status.cafe/current-status.js?name=gorkem" defer></script>
                </div> #}
                {# <img  style="height:100%;width:120px;vertical-align: middle;margin:auto;" src="images/mario.gif"></img> #}
                {# </div> #}

                {# <p>Feeling: <a href="https://www.imood.com/users/gorkem"><img width="68px" style="vertical-align: middle; padding-bottom: 4px;" src="https://moods.imood.com/display/uname-gorkem/fg-546EE3/trans-1/imood.gif" alt="The current mood of gorkem at www.imood.com" border="0"></a></p> #}
                
                <div class="movieBox">
                    <div class="subtitle">
                        <strong>🎬 MovieLog</strong>
                        <small>via Letterboxd</small>
                    </div>
                    <div class="movieLog">
                        <div class="rssFeed"
                data-rss-feed="https://letterboxd.com/ashby/rss/" 
                data-rss-link-titles="false" 
                data-rss-title-wrapper="p" 
                data-rss-max="3"></div>
                
                    </div>
                </div>

                <div class="statusContainer">
                    <div class="statusBox">
                        <div class="subtitle">
                            <strong>📖 BookLog</strong>
                            <small>via storygraph</small>
                        </div>
                        <div class="booklog">
                            <div class="rssFeed"
                data-rss-feed="https://politepol.com/fd/XTjdrZZeMUjC.xml" 
                data-rss-link-titles="false" 
                data-rss-title-wrapper="p" 
                data-rss-max="3">
                        
                
                </div>
                <a target="_blank" href="https://app.thestorygraph.com/profile/gorkem">Currenly Reading</a>
                        </div>
                        
                    </div>

                    <div class="statusBox">
                        <div class="subtitle">
                            <strong>🕹️ GameLog</strong>
                            <small>via backloggd</small>
                        </div>
                        
                        <div class="gamelog">
                            <div class="rssFeed"
                data-rss-feed="https://politepol.com/fd/awnh08Vu8T23.xml" 
                data-rss-link-titles="false" 
                data-rss-title-wrapper="p" 
                data-rss-max="3"></div>
                <a target="_blank" href="https://backloggd.com/u/Gorkem/">Currenly Playing</a>
                        </div>
                        
                    </div>

                </div>

            </div>
            
        </div>
<div class="bottomContainer">
    {# <a href="http://cafe.gorkem.cc"><img class="door" src="/images/door.png" width="148" style=""></a> #}
    <a href="http://cafe.gorkem.cc"><img class="door" src="/images/christmastree.gif" width="148" style=""></a>
<div class="wimampContainer">
<div id="app">
    
</div>
</div>
{# <div class="candleStick"></div> #}
</div>


    </div>
    
    <div class="right-box">
        <div class="window main-right">
            <div class="title-bar inactive">
                <div class="title-bar-text">Status.cafe</div>
                <div class="title-bar-controls">
                    <button aria-label="Help"></button>
                    <!-- <button aria-label="Close"></button> -->
                </div>
            </div>
            <div class="window-body" style="padding-bottom: 0px;">
                <aside id="rightSidebar" style="padding-bottom: 0px; margin-bottom: 0px;">

                    <div id="statuscafe">
                        <div id="statuscafe-username"></div>
                        <div id="statuscafe-content"></div>
                    </div>
                    <script src="https://status.cafe/current-status.js?name=gorkem" defer></script>

                </aside>
            </div>
        </div>

        <div id="visitorCount" class="window main-right">
            <div class="title-bar inactive">
                <div class="title-bar-text">VisitorCounter.exe</div>
                <div class="title-bar-controls">
                    <button aria-label="Help"></button>
                    <!-- <button aria-label="Close"></button> -->
                </div>
            </div>
            <div class="window-body" >
                <aside id="rightSidebar" style="text-align: center; padding:0px;">
                    {# You are visitor no: #}
                    <div id="goatcounterContain">
                   <p style="margin-bottom:-10px;"> You are visitor no:</p>
                    {# <a href="https://www.cutercounter.com/"><img src="https://www.cutercounter.com/hits.php?id=hxodcxx&nd=6&style=23" border="0" alt="website counter"></a> #}
{# <a href="https://www.ilovehalloween.com"><img border="0" src="https://www.ilovehalloween.com/h/i/fcountdown-bl3.jpg" width="100%"></a> #}
{# <img border="0" src="/images/IMG_2140.JPG" width="100%"> #}
                </div>
                </aside>
            </div>
        </div>

 <div class="window main-right">
            <div class="title-bar inactive">
                <div class="title-bar-text">Buttons.gif</div>
                <div class="title-bar-controls">
                    <button aria-label="Help"></button>
                    <!-- <button aria-label="Close"></button> -->
                </div>
            </div>
            <div class="window-body allbuttons"  style="">
                <aside id="rightSidebar">
                    {# <div class="myButton"> #}
                    <img src="/images/buttons/bestvw.gif"></img><img src="/images/buttons/ilovehorror.gif"></img><img src="/images/buttons/psbutton.gif"></img><img src="/images/buttons/makeawebsite.jpg"></img><img src="/images/buttons/rtr.png"></img><img src="/images/buttons/noAI.png"></img><img src="/images/buttons/sendit.gif"></img><img src="/images/buttons/nocookie.gif"></img>
                {# <hr> #}
                
                    
                 {# </div> #}
                </aside>
            </div>
        </div>




        <div class="window main-right">
            <div class="title-bar inactive">
                <div class="title-bar-text">BackgroundChanger.exe</div>
                <div class="title-bar-controls">
                    <button aria-label="Help"></button>
                    <!-- <button aria-label="Close"></button> -->
                </div>
            </div>
            <div class="window-body" >
                <aside id="rightSidebar" style="text-align: center;">

                    
                    <div class="field-row">
                        <input  id="theme-switch1" type="radio" name="theme-switch" onClick="changeBackground('1')">
                        <label for="theme-switch1">Green Tile</label>
                    </div>
                    <div class="field-row">
                        <input checked id="theme-switch2" type="radio" name="theme-switch" onClick="changeBackground('2')">
                        <label for="theme-switch2">Halloween</label>
                    </div>
                    <div class="field-row">
                        <input  id="theme-switch3" type="radio" name="theme-switch" onClick="changeBackground('3')">
                        <label for="theme-switch3">Stars</label>
                    </div>
                     <div class="field-row">
                        <input id="theme-switch4" type="radio" name="theme-switch" onClick="changeBackground('4')">
                        <label for="theme-switch4">PS1 Tile</label>
                    </div>
                    <div class="field-row">
                        <input id="theme-switch5" type="radio" name="theme-switch" onClick="changeBackground('5')">
                        <label for="theme-switch5">SH3 Loading Screen</label>
                    </div>

                </aside>
            </div>
        </div>

       

                <div id="moon" class="window main-right">
            <div class="title-bar inactive">
                <div class="title-bar-text">LinkMyButton.gif</div>
                <div class="title-bar-controls">
                    <button aria-label="Help"></button>
                    <!-- <button aria-label="Close"></button> -->
                </div>
            </div>
            <div class="window-body" style="padding-bottom: 0px;">
                <aside id="rightSidebar" style="padding-bottom: 0px; margin-bottom: 0px;">


            {# <iframe width="180" height="180" style="border:none" src="https://dimden.dev/moon?custom=1" name="dimdenmoonwidget"></iframe> #}
                
                <div class="myButton">
                {# <p>Link my button!</p>  #}
                 {# <p>You can link my button on your webpage by copying the html below!</p> #}
                <img src="/images/buttons/mybutton.gif"></img>
                <textarea class="copyButton">&lt;a href="https://gorkem.cc/" target="_blank"&gt;&lt;img src="https://gorkem.cc/images/buttons/mybutton.gif"&gt;&lt;/a&gt;</textarea>
                </div>
                </aside>
            </div>
        </div>

                        <div id="moon" class="window main-right">
            <div class="title-bar inactive">
                <div class="title-bar-text">Webrings.map</div>
                <div class="title-bar-controls">
                    <button aria-label="Help"></button>
                    <!-- <button aria-label="Close"></button> -->
                </div>
            </div>
            <div class="window-body" style="padding-bottom: 0px;">
                <aside id="rightSidebar" style="padding-bottom: 0px; margin-bottom: 0px;">


            {# <iframe width="180" height="180" style="border:none" src="https://dimden.dev/moon?custom=1" name="dimdenmoonwidget"></iframe> #}
                
                <div class="myButton">
                {# <p>Link my button!</p>  #}
                 {# <p>You can link my button on your webpage by copying the html below!</p> #}
    <map name="noaimini14b">
<area href="https://baccyflap.com/noai" shape="rect" coords="42,0,94,60" target="_blank" alt="no ai webring" title="no ai webring">
<area href="https://baccyflap.com/noai/?prv&s=grk" target="_top" shape="rect" coords="2,26,38,58" alt="previous" title="previous">
<area href="https://baccyflap.com/noai/?rnd" target="_top" shape="rect" coords="118,14,132,32" alt="random" title="random">
<area href="https://baccyflap.com/noai/?nxt&s=grk" target="_top" shape="rect" coords="136,2,172,34" alt="next" title="next">
</map>
<img style="width:176px;image-rendering:pixelated" usemap="#noaimini14b" src="https://baccyflap.com/noai/miniwidget14.gif" alt="a bluegreen rectangle showing the words the NO AI webring, with NO AI being written by a fountain pen, all in the style of 16 bit Windows 95 icons. to either side are two equally Windows-95-style cursors pointing left and right, softly bouncing up and down. in between it all is a small black question mark">

<div id='linuxring'>
<script type="text/javascript" src="https://teethinvitro.neocities.org/webring/linuxring/script/onionring-variables.js"></script>
<script type="text/javascript" src="https://teethinvitro.neocities.org/webring/linuxring/script/onionring-widget.js"></script>
</div>
      


                </div>
                </aside>
            </div>
        </div>


        

        <a href='http://www.catb.org/hacker-emblem/'>
<img style=" display: block; margin-left: auto; margin-right: auto;" src='images/buttons/glider.png' alt='hacker emblem' /></a>
    </div>
</div>

<script src="./custom.js"></script>
<script src="./bgswitch.js?v=1.1"></script>
<script src="./home.js"></script>

<script src="https://unpkg.com/webamp"></script>
<script>
    const app = document.getElementById("app")
    const webamp = new Webamp({
        initialTracks: [
                  {
            metaData: {
              title: "Spooky",
              artist: "Ian Taylor",
            },
            // NOTE: Your audio file must be served from the same domain as your HTML
            // file, or served with permissive CORS HTTP headers:
            // https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS
            url: "/etc/Spooky.mp3",

          },
          {
            metaData: {
            title: "Scape Scared",
              artist: "Ian Taylor",
              
            },
            // NOTE: Your audio file must be served from the same domain as your HTML
            // file, or served with permissive CORS HTTP headers:
            // https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS
            url: "/etc/Scape Scared.mp3",
            duration: 267,
          },
          {
            metaData: {
              title: "Still Night",
              artist: "Ian Taylor",
            },
            // NOTE: Your audio file must be served from the same domain as your HTML
            // file, or served with permissive CORS HTTP headers:
            // https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS
            url: "/etc/Still Night.mp3",
            duration: 322.612245,
          },
        ],
        windowLayout: {
          main: {
            position: { top: 0, left: 0 },
            shadeMode: false,
            closed: false,
          },
          equalizer: {
            position: { top: 116, left: 0 },
            shadeMode: false,
            size: { extraWidth: 0, extraHeight: 4 },
            closed: false,
          },
          playlist: {
            position: { top: 0, left: 275 },
            shadeMode: false,
            size: { extraWidth: 0, extraHeight: 4 },
            closed: false,
          },
        },
        initialSkin: {
        url: 
      // Find skins https://skins.webamp.org - download them and          host them on your website!
     "/css/linux.wsz"
    },
        //enableDoubleSizeMode: true,
      });
    webamp.renderWhenReady(app);
</script>

<script>
    var t = setInterval(function() {
        if (window.goatcounter && window.goatcounter.visit_count) {
            clearInterval(t)
            window.goatcounter.visit_count({append: '#goatcounterContain', no_branding: 'true', style: `


            body{
            background-color: transparent;


            }
    div {
            border:none;
            color:white;

            line-height:1;
     }
    #gcvc-for{
    display:none;
    }
    #gcvc-views{
        

    }
`})
        }
    }, 100)
</script>
