---
title: "🌌 AstroSketch Image Invert Utility"
header: "Tools & Utilities"
layout: "base.njk"
summary: "Image convertion tool to invert negative astronomy sketches"
thumbnailImg: "thumbnail.png"
---

 <link rel="stylesheet" href="{{'/tools/payrolldeduction.css' | url | safe}}">

<div id="flex" style="max-width:500px;margin:auto;">
  <div class="left-box">
    <div class="window main-left">
      <div class="title-bar inactive">
        <div class="title-bar-text">🧮 TSSU Payroll Deduction Calculator.exe</div>
        <div class="title-bar-controls">
          <!-- <button aria-label="Help"></button> -->
          <button disabled aria-label="Close"></button>
        </div>
      </div>
      <div class="window-body">
        <main class="astroContainer">
<div id="formContainer">
<form id="formC">
<div class="rows">
  <div class="column">
      <label class="theLabels">

        Tuition:
    </label>
      <input class="theInputs" type="number"/>
  </div>
  <div class="column">
      <label class="theLabels">

        Semester:
        </label>
        <select class="theInputs">
  <option>Fall 2024</option>
  <option>Spring 2025</option>
  <option>Summer 2025</option>
</select>
    
  {# <div class="column">
<label for="start">Start date:</label>

<input type="date" id="start" name="trip-start" value="" min="" max="" />
  </div> #}

</div>


</form>
</div>


        <img id="img" />

        <button id="submitButton">Submit</button>
        
</main>


  <script type="text/javascript" src="/tools/payrolldeduction.js"></script>

        </div>
        </div>
        
                <p id="result">⬇️Converted Image⬇️</p>
                
        {# (Right click or hold to save) #}
         
 <div id="outputWindow">
  <div class="left-box">
    <div class="window main-left">
      <div class="title-bar inactive">
        <div class="title-bar-text">🖼️ Sketch.png</div>
        <div class="title-bar-controls">
          <!-- <button aria-label="Help"></button> -->
          <button disabled aria-label="Close"></button>
        </div>
      </div>
      <div class="window-body">
        {# <div id="output"></div> #}
        <canvas id="myCanvas"></canvas>
        <a id="dl" download="Sketch.png" href="#">Download Result</a>
        {# <button id="DLbutton" download="Sketch.png" onclick="">Download Result</button> #}

        </div>
        </div>
        </div>
        </div>
        </div>



</div>
<small  style="display:block;justify-content:center;font-size:12px;text-align: center;"><a href="https://github.com/gocivici/astrosketch">Source code</a> available on GitHub</small>
<small style="display:block;justify-content:center;font-size:12px;text-align: center;padding:10px 0 0 0;">Copyright © 2024 Görkem Bozkurt, licensed under  <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/?ref=chooser-v1">CC BY-NC-SA 4.0</a> </small>

<div class="centerbuttons">
  <img src="/images/buttons/mobile.png">
  <img src="/images/buttons/button257.gif">
  <img src="/images/buttons/sendit.gif">
  </div>


</div>



        






{# <script type="text/javascript" src="https://latest.cactus.chat/cactus.js"></script> #}

<script src="/custom.js"></script>
{# <script src="/bgswitch.js"></script> #}
